[submodule "dcEmb"]
	path = dcEmb
	url = https://github.com/embecosm/dcEmb
[submodule "dcEmb-examples"]
	path = dcEmb-examples
	url = git@github.com:JacobLiu001/dcEmb-examples.git
[submodule "test_dcm"]
	path = test_dcm
	url = https://github.com/Layomiiety/test_dcm.git
	shallow = true
