{% extends "webserver/base.html" %}

{% load static %}
{% load compress %}

{% block head %}

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>

    <script>var exports = {};</script>
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/",
            "three/": "https://cdn.skypack.dev/three@0.142.0/"
          }
        }
    </script>
    <script type="module" src="{% static "typescript/visualisations/3body/threebodyAnimation.js" %}"></script>

    {% compress js %}
    <script type="text/typescript" src="{% static "typescript/configs.ts" %}"></script>
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/configs.scss" %}" />
    {% endcompress %}

{% endblock head %}

{% block content %}

    <div class="mdl-cell mdl-cell--12-col card mdl-shadow--4dp">
        <h2>About the 3-body Model</h2>

        <p>
            Press spacebar to start the visualisation. You can press it again to pause it. The 3D scene on the left shows the stable orbits of the three bodies if there is no input noise. You can click on the checkbox to introduce noise to the orbits and see how unstable they become.
        </p>
        <p>
            The 3D scene on the right is a complementary velocity graph. To introduce a body to the scene, pause the animation on the left, and click on the body you want to analyse on the velocity graph. Unpause the animation to observe the stability of the velocity orbit. You can add as many bodies as you want in the same scene.
        </p>
    </div>

    <div class="mdl-cell mdl-cell--2-col card mdl-shadow--4dp" id="config-div"></div>

    <div class="mdl-cell mdl-cell--10-col card mdl-shadow--4dp flex-container mdl-grid" id="3body-div">
        <div class="mdl-cell mdl-cell--6-col card mdl-shadow--4dp" id="graph-div"></div>
        <div class="mdl-cell mdl-cell--6-col card mdl-shadow--4dp" id="velocities-div"></div>
    </div>


{% endblock content %}
