{% extends "webserver/base.html" %}
{% load compress %}
{% load static %}

{% block head %}

    {% compress js %}
    <script>var exports = {};</script>
    <script type="text/typescript" src="{% static "typescript/visualisations/climate.ts" %}" />
    <script type="text/typescript" src="{% static "typescript/configs.ts" %}"/>
    {% endcompress %}

{% endblock head %}

{% block onload %}
setup_config();
{% endblock onload %}

{% block content %}

    <div class="mdl-cell mdl-cell--12-col card mdl-shadow--4dp">
        <h2>About the Climate Model</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non venenatis lectus. Vivamus non ante nulla. Fusce sit amet nisl urna. Nunc in dolor condimentum, rhoncus libero gravida, eleifend massa. Donec eu ipsum viverra, sodales massa quis, laoreet arcu. Nulla id ex at dui molestie scelerisque a ac urna. Sed tincidunt purus sed risus cursus iaculis. Donec porttitor convallis tortor ut sollicitudin.
        </p>
        <p>
            Aliquam porta, elit sed placerat dapibus, dui orci luctus nibh, ultricies molestie metus quam in nisi. Nulla rhoncus pretium turpis, nec feugiat tortor condimentum sit amet. Vestibulum efficitur pellentesque aliquet. Ut varius, ante vitae tristique consequat, velit nunc pellentesque nunc, sit amet venenatis metus elit in sem. Praesent convallis felis sollicitudin, venenatis neque at, rhoncus ligula. Nunc neque ante, consectetur id lectus a, ornare tempor lorem. Praesent ac purus arcu. Integer erat quam, laoreet quis sagittis et, tempus vitae lacus. Vestibulum porttitor velit ut velit fringilla, nec laoreet lacus rhoncus. Fusce eleifend ullamcorper tellus sit amet blandit. Vestibulum pharetra sed arcu nec posuere. Nulla ac pellentesque lectus. Quisque aliquet turpis quis leo vulputate tempor. Ut viverra sagittis eleifend. Suspendisse placerat ac turpis sed euismod.
        </p>
    </div>

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

        <div class="mdl-tabs__tab-bar">
            <a href="#graph1-panel" class="mdl-tabs__tab is-active">Graph 1</a>
            <a href="#graph2-panel" class="mdl-tabs__tab">Graph 2</a>
            <a href="#graph3-panel" class="mdl-tabs__tab">Graph 3</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="graph1-panel">
            <div class="flex-container mdl-grid">

                <div class="mdl-cell mdl-cell--4-col card mdl-shadow--4dp">
                    <p>Viz Placeholder</p>
                    <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/graph-wiki_ver_1.png" class="vizplaceholder"/>
                </div>

                <div class="mdl-cell mdl-cell--6-col card mdl-shadow--4dp">
                    <p>Viz Placeholder</p>
                    <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/graph-wiki_ver_1.png" class="vizplaceholder"/>
                </div>

                <div class="mdl-cell mdl-cell--2-col card mdl-shadow--4dp" id="config-0-parent">
                    <h4>Options</h4>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="test();" id="config-0-test">Test</button>
                </div>

                <div class="mdl-cell mdl-cell--4-col card mdl-shadow--4dp">
                    <p>Viz Placeholder</p>
                    <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/graph-wiki_ver_1.png" class="vizplaceholder"/>
                </div>

                <div class="mdl-cell mdl-cell--4-col card mdl-shadow--4dp">
                    <p>Viz Placeholder</p>
                    <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/graph-wiki_ver_1.png" class="vizplaceholder"/>
                </div>

                <div class="mdl-cell mdl-cell--4-col card mdl-shadow--4dp">
                    <p>Viz Placeholder</p>
                    <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/graph-wiki_ver_1.png" class="vizplaceholder"/>
                </div>

            </div>
        </div>

        <div class="mdl-tabs__panel" id="graph2-panel">
            <div class="flex-container mdl-grid">

                <!-- Content -->

            </div>
        </div>

        <div class="mdl-tabs__panel" id="graph3-panel">
            <div class="flex-container mdl-grid">

                <!-- Content -->

            </div>
        </div>

    </div>

{% endblock content %}
